@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  margin: 0 auto;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: auto;
}

@layer utilities {
  .card-sm {
    @apply w-32 h-44;
  }
  .card-md {
    @apply w-44 h-64;
  }

  .card-lg {
    @apply w-56 h-80;
  }
}

.text {
  @apply text-neutral-content dark:text-white;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #5b5b5b;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}
