@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  margin: 0 auto;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: auto;
}

@layer utilities {
  .card-sm {
    @apply w-32 h-44;
  }
  .card-md {
    @apply w-44 h-64;
  }

  .card-lg {
    @apply w-56 h-80;
  }

  .card-horizontal-sm {
    @apply w-52 h-32;
  }

  .card-horizontal-md {
    @apply w-60 h-40;
  }

  .card-horizontal-lg {
    @apply w-80 h-48;
  }
}

.text {
  @apply text-neutral-content dark:text-white;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #5b5b5b;
  border-radius: 10px;
}

.custom-btn-primary {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg;
}

.min-height-screen {
  @apply min-h-[calc(100vh-5rem)]; // 5rem => Height of NavBar
}
