@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  margin: 0 auto;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: auto;
}

@layer utilities {
  .media-card {
    @apply w-32 h-44 md:w-44 md:h-64 lg:w-56 lg:h-80 flex-shrink-0 overflow-y-clip;
  }

  .media-card-lg {
    @apply w-56 h-80 flex-shrink-0 overflow-y-clip;
  }

  .card-horizontal {
    @apply w-52 h-32 md:w-60 md:h-40 lg:w-80 lg:h-48 flex-shrink-0 overflow-y-clip;
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #5b5b5b;
  border-radius: 10px;
}

.custom-btn-primary {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg;
}

.min-height-screen {
  @apply min-h-[calc(100vh-5rem)]; /* 5rem => Height of NavBar */
}
